<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    >

    <title>Playhouse</title>

    <!-- General CSS -->
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">

    <style id="ui_style"></style>

    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/unit_styles.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/activities.css">
    <link rel="stylesheet" href="../css/audio.css">

    <!-- Activity CSS -->
    <link
        rel="stylesheet"
        href="../css/circle_the_contractions_in_the_story.css"
    >

    <!-- Libraries -->
    <script
        src="../js/jquery-3.4.1.min.js"
        type="text/javascript">
    </script>

    <script
        src="../js/jquery-ui.min.js"
        type="text/javascript">
    </script>

    <script
        src="../js/bootstrap/bootstrap.bundle.min.js"
        type="text/javascript">
    </script>

    <script
        src="../js/jquery.ui.touch-punch.min.js"
        type="text/javascript">
    </script>

    <!-- Required by audio.js / radio -->
    <script
        src="../js/build/jsonRender.js"
        type="text/javascript">
    </script>

    <!-- Template data -->
    <script
        src="../js/data/templateData.js"
        type="text/javascript">
    </script>

    <!-- Activity list -->
    <script
        src="../js/data/activityList.js"
        type="text/javascript">
    </script>

    <!-- Activity data -->
    <script
        src="../js/data/circle_the_contractions_in_the_story_data.js"
        type="text/javascript">
    </script>
</head>

<body>

    <!-- Masks -->
    <div class="mask_parent">
        <div class="mask_left"></div>
        <div class="mask_right"></div>
    </div>

    <!-- Loading -->
    <div class="loading">
        <div class="loader"></div>
    </div>

    <!-- Header -->
    <header class="fixed-top"></header>

    <div class="mainContent">

        <!-- Feedback popup -->
        <div
            id="feedbackPopup"
            class="modal fade"
            role="dialog"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
                <div class="modal-content">

                    <div>
                        <button
                            type="button"
                            class="close closeFeedback"
                            data-dismiss="modal"
                        >
                            &times;
                        </button>
                    </div>

                    <div class="modal-body">

                        <video
                            id="video_1"
                            src="../videos/goodjob.mp4"
                            preload>
                        </video>

                        <video
                            id="video_2"
                            src="../videos/tryagain.mp4"
                            preload>
                        </video>

                    </div>

                </div>
            </div>
        </div>

        <!-- Main activity content -->
        <div class="container content_wrap activity_wrap">

            <!-- Screen number -->
            <div
                class="fixed-top screen_numbers_wrap"
                style="z-index: 2;"
            ></div>

            <!-- Activity panel content -->
            <div
                class="activity_buts d-none"
                data-buttons="ccss,link,homework,tips"
            >
                <div
                    class="ccss_content"
                    data-height=""
                ></div>

                <div
                    class="link_content"
                    data-height=""
                ></div>

                <div
                    class="homework_content"
                    data-height=""
                ></div>

                <div
                    class="tips_content"
                    data-height=""
                ></div>
            </div>

            <!-- Activity area -->
            <div
                class="activity_container activity_area fill_in mx-auto"
                data-activity="circleTheContractions"
            ></div>

        </div>

    </div>

    <!-- Activity controls popup -->
    <div
        class="modal fade activityCtrlPanel"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        >
            <div class="modal-content">

                <div class="modal-header">

                    <div class="ctrlIcon"></div>

                    <h4 class="modal-title"></h4>

                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                    >
                        &times;
                    </button>

                </div>

                <div class="modal-body"></div>

            </div>
        </div>
    </div>

    <!-- Sub footer -->
    <div class="sub_footer">
        <div class="container sub_footer_buttons_wrap"></div>
    </div>

    <!-- Footer -->
    <footer class="fixed-bottom"></footer>

    <!-- Media list -->
    <script>
        var _mediaList = {
            image: [],
            audio: [],
            video: []
        };
    </script>

    <!-- Template -->
    <script
        src="../js/build/template.js"
        type="text/javascript">
    </script>

    <!-- General functions -->
    <script
        src="../js/generalfunctions.js"
        type="text/javascript">
    </script>

    <!-- Activity build -->
    <script
        src="../js/build/circle_the_contractions_in_the_story_build.js"
        type="text/javascript">
    </script>

    <!-- Activity logic -->
    <script
        src="../js/activity/circle_the_contractions_in_the_story.js"
        type="text/javascript">
    </script>

    <!-- General activity controls -->
    <script
        src="../js/activities.js"
        type="text/javascript">
    </script>

    <!-- Stereo / radio -->
    <script
        src="../js/build/audio.js"
        type="text/javascript">
    </script>

    <script
        src="../js/build/radio_build.js"
        type="text/javascript">
    </script>

    <!-- Must stay last -->
    <script
        src="../js/loading.js"
        type="text/javascript">
    </script>

</body>

</html>