.all_cont {
    width: 100%;
}

.screen_elements {
    width: 80%;
}

.group_elm {
    width: 90%;
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;
}

.left-content {
    flex-direction: column;
    width: 20%;
}

.q_title {
    font-size: 27px !important;
}

:root {
    --temp: rgb(159, 210, 236);
}

.que {
    width: 80%;
    height: 115px;
    margin-bottom: 3px;
    position: relative;
}

.fillin_gr {
    height: 50%;
    margin: auto 15px;
}

.fillin_set input {
    width: 280px;
    height: 36px;
    padding-left: 55px;
    color: black;
    border: none;
    margin-right: 25px;
    margin-left: 10px;
    border-bottom: 2px solid black;
}

.fillin_set input:focus {
    outline: none;
}


.txtBox {
    font-family: Arcon;
    font-size: 23px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 33.333%;
}

.theIcons {
    margin: 5px 0;
}

.q_img {
    width: 144px;
    height: 100px;
    margin: 10px;
    object-fit: contain;
    border: 2px solid var(--temp);
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.clue_word {
    padding: 2px 27px;
}

.word_options {
    width: 100%;
    border-radius: 10px;
    background-color: #eeeeee;
}

.word_opt_sticky {
    width: 60%;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    border: 2px solid var(--temp);
    border-radius: 10px;
}

/* ********************************** */
/* ********************************** */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}